* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header { 
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:22px 12%;
}
.logo img {
     max-width: 100%;
     width: 200px;
     height: auto;
     background: transparent;
}
.navmenu {
    display: flex;
}
.navmenu li {
    position: relative;
}
.navmenu a{
    color: #212832;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 15px 25px;
    transition: all .42s;
}
.navmenu a::after{
    content: '';
    position: absolute;
    width: 0;
    height:2px;
    background-color: #212832;
    bottom: -2px;
    left:0;
    transition: all .42s;
}
.navmenu a:hover::after {
    width: 100%;
}
.btn-icon {
    display:flex;
    align-items: center;
}
.nav-btn { 
    font-size: 17px;
    color:#212832;
    font-weight: bold;
    background-color:transparent;
    border: 2px solid #212832;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all .42s;
}
.nav-btn:hover {
    background-color: #212832;
    color:#fff;
}
#menu-icon {
    font-size:35px;
    color:#212832;
    z-index: 10001;
    cursor: pointer;
}
section {
    padding: 60px 12%;
}
.home { 
    width: 100%;
    height:100vh;
    background-image:url(/homepage/img/anhdulich.webp) ;
    background-position: center;
    background-size: cover;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.home-text h4 {
    color:#D46951;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
.home-text h1 {
    color: #181E4B;
    font-size:65px;
    font-family: 'Volkhov';
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
}
.home-text p {
    color:#212832;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn1 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color:#fff;
    text-transform: capitalize;
    padding: 10px 20px;
    background:#F1A501;
    border-radius: 10px;
    margin-right:40px ;
    transition: all .42s;
}
.btn1:hover {
    transform: translateY(-5px);
}
.btn2 {
    color: #212832;
    font-size:16px;
    font-weight: 800;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn2 span i {
    width: 52px;
    height: 52px;
    background: #DF6951;
    font-size: 40px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    margin-right: 15px;
    transition: all .42s;
}
.btn2 span i:hover {
    background: transparent;
    color:#212832;
}

header.sticky {
    background-color: transparent;
    backdrop-filter: blur(30px);
    padding: 22px 12%;
    box-shadow: 0 4px 15px rgba(0 0 0 / 8%);
    transition: .43s;
}
.about-us {
    text-align: center;
    background-color:aliceblue;
}
.about-us h3{ 
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.about-us img {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.about-us h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
.about-us h5 {
    font-size: 16px;
    margin-bottom: 10px;
}
.about-us h6 {
    font-size: 16px;
    margin-bottom: 10px;
}