* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header { 
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:22px 12%;
}
.logo img {
     max-width: 100%;
     width: 200px;
     height: auto;
     background: transparent;
}
.navmenu {
    display: flex;
}
.navmenu li {
    position: relative;
}
.navmenu a{
    color: #212832;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 15px 25px;
    transition: all .42s;
}
.navmenu a::after{
    content: '';
    position: absolute;
    width: 0;
    height:2px;
    background-color: #212832;
    bottom: -2px;
    left:0;
    transition: all .42s;
}
.navmenu a:hover::after {
    width: 100%;
}
.btn-icon {
    display:flex;
    align-items: center;
}
.nav-btn { 
    font-size: 17px;
    color:#212832;
    font-weight: bold;
    background-color:transparent;
    border: 2px solid #212832;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all .42s;
}
.nav-btn:hover {
    background-color: #212832;
    color:#fff;
}
#menu-icon {
    font-size:35px;
    color:#212832;
    z-index: 10001;
    cursor: pointer;
}
section {
    padding: 60px 12%;
}
.home { 
    width: 100%;
    height:100vh;
    background-image:url(/homepage/img/anhdulich.webp) ;
    background-position: center;
    background-size: cover;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.home-text h4 {
    color:#D46951;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
.home-text h1 {
    color: #181E4B;
    font-size:65px;
    font-family: 'Volkhov';
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
}
.home-text p {
    color:#212832;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn1 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color:#fff;
    text-transform: capitalize;
    padding: 10px 20px;
    background:#F1A501;
    border-radius: 10px;
    margin-right:40px ;
    transition: all .42s;
}
.btn1:hover {
    transform: translateY(-5px);
}
.btn2 {
    color: #212832;
    font-size:16px;
    font-weight: 800;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn2 span i {
    width: 52px;
    height: 52px;
    background: #DF6951;
    font-size: 40px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    margin-right: 15px;
    transition: all .42s;
}
.btn2 span i:hover {
    background: transparent;
    color:#212832;
}

header.sticky {
    background-color: transparent;
    backdrop-filter: blur(30px);
    padding: 22px 12%;
    box-shadow: 0 4px 15px rgba(0 0 0 / 8%);
    transition: .43s;
}
.rent-villas h2{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.holy-house{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 2rem;
    margin-bottom: 10px;
    align-items: center;
}
.holy-house img{
    width: 100%;
    width:360px;
}
.holy-house-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,auto));
    gap: 2rem;
    align-items: center;
}
.holy-house-text li{
    border: 2px solid black;
    max-width: 100%;
    width:200px;
    height:60px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}
.holy-house-text .bigg {
    height:60px;
}
.rent-villa h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}
.air-office {
    padding-top: 100px;
    padding-bottom: 100px;
}
.office-name {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
    align-items: center;
}
.office-name img{
    max-width: 100%;
    width: 170px;
    height: auto;
    transition: all .42s;
}
.office-name img:hover {
    transform: translateY(-5px);
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 2rem;
    align-items: center;
}
.first-info img{
    max-width: 100%;
    width: 120px;
    height: auto;
}
.first-info h6 { 
    color:#5E6282;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
    transition: all .42s;
}
.first-info h6:hover {
    color: #D46951;
}
.contact-info h4{
    font-size: 18px;
    color: #080809;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.contact-info p{
    color: #5E6282;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 6px;
    transition: all .42s;

}
.contact-info p:hover {
    color:#D46951;
}
.fifth-info .icon a{
    color: #000;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0 0 0 / 10%);
    margin-right: 15px;
    margin-bottom: 20px;
    transition: all .42s;
}
.fifth-info .icon .grad-icon {
    background: linear-gradient(#ef32d9, #89fffd);
    color: #fff;
}
.fifth-info .icon a:hover {
    transform: scale(1.1);
}
.fifth-info h5{
    color:#5E6282;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .42s;
}
.fifth-info h5:hover {
    color:#D46951;
}
.img-info {
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.end-text {
    text-align: center;
    padding: 20px;
    background-color: #181E4B;
}
.footer p{
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 50;
}
